.profile-container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .unauth-view {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .unauth-svg {
            height: 30vh;
            width: auto;
            margin-bottom: 50px;
        }

        .unauth {
            font-size: .9rem;
            font-weight: 600;
            background: black;
            color: white;
            padding: 16px 24px;
            cursor: pointer;
        }
    }

    .user-not-found {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .not-found-svg {
            height: 30vh;
            width: auto;
            margin-bottom: 50px;
        }

        .user-not-found {
            font-size: .9rem;
            font-weight: 600;
        }
    }

    .edit-portal-container {
        position: fixed;
        z-index: 100000;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .exit-edit-portal {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
            background: rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
        }

        .edit-portal {
            height: fit-content;
            width: fit-content;
            position: relative;
            z-index: 2;

            .edit-details {
                height: 600px;
                width: 600px;
                background: white;
                display: flex;
                flex-direction: column;
                padding: 30px 50px;

                .edit-title {
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                .username-input {
                    border: 1px solid black;
                    height: fit-content;
                    width: 100%;
                    padding: 10px 15px;
                    color: black;
                    font-size: .9rem;
                    font-weight: 400;
                    margin-bottom: 50px;
                }

                .bio-input {
                    height: 250px;
                    width: 100%;
                    padding: 10px 15px;
                    resize: none;
                    border: 1px solid black;
                    color: black;
                    font-size: .9rem;
                    font-weight: 400;
                }
            }

            .toolbar {
                height: 50px;
                width: 100%;
                background: white;
                border-bottom: 1px solid gray;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .tool {
                    font-weight: 600;
                    font-size: .9rem;
                    cursor: pointer;
                    user-select: none;

                    &:nth-child(1) {
                        margin-left: 30px;
                    }

                    &:nth-child(2) {
                        margin-right: 30px;
                        color: #278bff;
                    }
                }
            }

            .drag-drop {
                height: 600px;
                width: 600px;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;

                .guide {
                    cursor: pointer;
                    font-size: .8rem;
                    font-weight: 500;
                    user-select: none;
                }
            }

            .preview-img {
                height: 600px;
                width: 600px;
                padding: 30px;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 100;
                border-radius: 50%;
            }

            .cropper {
                height: 600px;
                width: 600px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .social-container {
        position: fixed;
        z-index: 100000;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .exit-social {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
            background: rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
        }

        .social {
            z-index: 10;
            height: 600px;
            width: 600px;
            background: white;
            max-height: 80vh;
            max-width: 80vw;
            display: flex;
            flex-direction: column;
            position: relative;

            .social-type {
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid gray;
                text-align: center;
                font-size: .9rem;
                font-weight: 500;
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                background: white;
                transform: translateY(-100%);
            }

            .person-container {
                height: 100%;
                width: 100%;
                overflow: auto;
                padding: 20px 100px;
            }
        }
    }

    .dashboard {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 30px;

        .user-avt {
            height: fit-content;
            width: fit-content;
            margin-right: 35px;
            display: flex;
            flex-direction: column;
            align-items: center;
            user-select: none;

            img {
                height: 15vh;
                width: 15vh;
                border-radius: 50%;
                object-fit: cover;
            }

            .change-avt {
                margin-top: 15px;
                color: white;
                background: black;
                padding: 10px 18px;
                width: fit-content;
                cursor: pointer;
                border-radius: 20px;
                font-size: .7rem;
                font-weight: 500;
            }
        }

        .user-details {
            color: black;
            height: fit-content;
            margin-right: 15px;
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            .username {
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 10px;
                height: fit-content;
                width: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;

                .edit-details {
                    fill: black;
                    height: 20px;
                    width: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
            
            .email-container {
                display: flex;
                flex-direction: row;
                margin-bottom: 5px;
                margin-bottom: 15px;

                .email-svg {
                    height: 18px;
                    width: 18px;
                    fill: black;
                    margin-right: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .email {
                    font-size: .8rem;
                    font-weight: 400;
                    cursor: pointer;
                }
            }

            .bio {
                font-weight: 400;
                font-size: .8rem;
                line-height: 28px;
                height: fit-content;
                max-height: 50%;
                overflow: auto;
            }
        }

        .user-stats {
            height: fit-content;
            width: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: black;
            margin-bottom: 15px;

            .stat {
                width: fit-content;
                font-size: .7rem;
                font-weight: 500;
                margin-right: 15px;
                cursor: pointer;
            }

            .follow-btn {
                height: fit-content;
                width: fit-content;
                background: black;
                color: white;
                font-size: .7rem;
                font-weight: 500;
                padding: 10px 18px;
                cursor: pointer;
                border: none;
            }
        }
    }

    .dashboard-hr {
        width: 50%;
        margin-bottom: 30px;
    }

    .post-snippet-container {
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .post-snippet {
            width: calc((100% - 16px) / 3);
            position: relative;
            margin-bottom: 10px;

            &:nth-child(3n + 2) {
                margin-left: 8px;
                margin-right: 8px;
            }

            &::before {
                display: block;
                content: '';
                padding-bottom: 100%;
            }

            .post-snippet-img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
            }
        }
    }

    .full-post-container {
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 100000;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;

        .exit-full-post {
            height: 100%;
            width: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
            cursor: pointer;
            z-index: 1;
        }

        .full-post {
            background: white;
            height: fit-content;
            width: fit-content;
            z-index: 10;
        }
    }
}

@media screen and (max-width: 991px) {
    .post-snippet-container {
        width: 100% !important;
    }
}

@media screen and (max-width: 767px) {
    .full-post {
        width: 100% !important;
    }

    .person-container {
        padding: 20px 15px !important;
    }
}

@media screen and (min-width: 415px) and (max-width: 525px) {
    .dashboard {
        margin-bottom: 15px !important;

        .user-avt {
            margin-right: 20px !important;

            img {
                height: 10vh !important;
                width: 10vh !important;
            }

            .change-avt {
                font-size: .6rem !important;
                padding: 8px 12px !important;
            }
        }

        .user-details {
            padding-top: 5px !important;

            .username {
                font-size: .9rem !important;
            }
    
            .stat {
                font-size: .6rem !important;
                margin-right: 8px !important;
            }

            .email-container {
                margin-bottom: 10px !important;
                .email {
                    font-size: .7rem !important;
                }
            }

            .bio {
                font-size: .7rem !important;
            }
        }
    }

    .dashboard-hr {
        margin-bottom: 20px !important; 
    }
}

@media screen and (max-width: 414px) {
    .dashboard {
        margin-bottom: 15px !important;

        .user-avt {
            margin-right: 20px !important;

            img {
                height: 7vh !important;
                width: 7vh !important;
            }

            .change-avt {
                font-size: .6rem !important;
                padding: 8px 12px !important;
            }
        }

        .user-details {
            padding-top: 5px !important;

            .username {
                font-size: .8rem !important;
            }
    
            .user-stats {
                flex-wrap: wrap;
                margin-bottom: 10px !important;
                .stat {
                    font-size: .6rem !important;
                    margin-right: 8px !important;
                    margin-bottom: 10px;
                }
    
                .follow-btn {
                    font-size: .65rem !important;
                    padding: 8px 12px !important;
                }
            }

            .email-container {
                margin-bottom: 10px !important;
                .email {
                    font-size: .7rem !important;
                }
            }

            .bio {
                font-size: .7rem !important;
            }
        }
    }

    .dashboard-hr {
        margin-bottom: 20px !important; 
    }
}

@media screen and (max-width: 600px) {
    .edit-portal-container {
        position: fixed;
        z-index: 100000;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .exit-edit-portal {
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
            background: rgba(0, 0, 0, 0.8);
            top: 0;
            left: 0;
        }

        .edit-portal {
            width: 90% !important;
            z-index: 2;
            position: relative;

            &::before {
                display: block;
                content: '';
                padding-bottom: 100%;
            }

            .edit-details {
                height: 100% !important;
                width: 100% !important;
                background: white;
                display: flex;
                flex-direction: column;
                padding: 15px 20px !important;
                position: absolute;
                top: 0;
                left: 0;

                .edit-title {
                    font-size: .8rem !important;
                    font-weight: 600;
                    margin-bottom: 10px !important;
                }

                .username-input {
                    border: 1px solid black;
                    height: fit-content;
                    width: 100%;
                    padding: 8px 12px !important;
                    color: black;
                    font-size: .7rem !important;
                    font-weight: 400;
                    margin-bottom: 20px !important;
                }

                .bio-input {
                    height: 200px !important;
                    width: 100%;
                    padding: 8px 12px !important;
                    resize: none;
                    border: 1px solid black;
                    color: black;
                    font-size: .7rem !important;
                    font-weight: 400;
                }
            }

            .toolbar {
                height: 40px !important;
                width: 100%;
                background: white;
                border-bottom: 1px solid gray;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                transform: translateY(-100%);
                top: 0;
                left: 0;

                .tool {
                    font-weight: 500 !important;
                    font-size: .7rem !important;
                    cursor: pointer;
                    user-select: none;

                    &:nth-child(1) {
                        margin-left: 30px;
                    }

                    &:nth-child(2) {
                        margin-right: 30px;
                        color: #278bff;
                    }
                }
            }

            .drag-drop {
                position: absolute;
                top: 0;
                left: 0;
                height: 100% !important;
                width: 100% !important;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;

                .guide {
                    cursor: pointer;
                    font-size: .65rem !important;
                    font-weight: 400 !important; 
                    user-select: none;
                }
            }

            .preview-img {
                height: 100% !important;
                width: 100% !important;
                padding: 10px !important;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 100;
                border-radius: 50%;
                background: white;
            }

            .cropper {
                height: 100% !important;
                width: 100% !important;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

    }

    .social-container {

        .social {
            z-index: 10;
            width: 90% !important;
            background: white;
            max-height: 80vh;
            max-width: 80vw;
            display: flex;
            flex-direction: column;
            position: relative;
            height: auto !important;

            &::before {
                display: block;
                content: '';
                padding-bottom: 100%;
            }

            .social-type {
                font-size: .7rem !important;
            }

            .person-container {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
