@media only screen and (max-width : 576px) {
    .header {
        width: 100vw;
        z-index: 2000;
        max-height: 10vh;
        padding: 30px 20px 20px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;
        background: white;
        transform: translateX(-20px);
    
        .reset-password-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reset-password {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                z-index: 1;
            }
    
            .reset-password-form {
                z-index: 10;
                height: fit-content;
                width: 300px;
                background: white;
                padding: 30px 20px 30px 20px;
    
                .prompt {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
    
                .reset-password-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .7rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reset-password-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 28px;
                    font-size: .7rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    color: red;
                }
            }
        }
    
        .reauthenticate-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reauthenticate {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
            }
    
            .reauthenticate-form {
                z-index: 10;
                height: fit-content;
                width: 300px;
                background: white;
                padding: 30px 20px 30px 20px;
    
                .confirm-access {
                    color: black;
                    font-size: .8rem;
                    font-weight: 700;
                    margin-bottom: 25px;
                }
    
                .prompt {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
    
                .reauthenticate-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .7rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reauthenticate-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 18px;
                    font-size: .7rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    color: red;
                }
            }
        }
    
        .logo {
            font-weight: 900;
            font-style: italic;
            font-size: 1rem;
            cursor: pointer;
            color: black;
        }

        .header-menu {
            margin-left: auto;
            height: 100%;
            width: auto;
            z-index: 1000000;
            fill: black;
        }
    
        .header-else {
            position: fixed;
            z-index: 100000;
            height: 100vh;
            width: 100vw;
            background: black;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px 50px 50px 50px;
            transform: translateX(100%);

            .header-search-container {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                margin-top: 70vh;

                .header-search-input {
                    padding: 10px 50px 10px 20px;
                    outline: none;
                    border-radius: 25px;
                    width: 100%;
                    font-size: .65rem;
                    font-weight: 400;
        
                    &::placeholder {
                        font-size: .65rem;
                        color: gray;
                        font-weight: 300;
                    }
                }
        
                .search-btn {
                    background: none;
                    border: none;
                    height: fit-content;
                    width: fit-content;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
        
                    .search-svg {
                        height: 2vh;
                        width: 2vh;
                    }
                }
        
                .search-history-container {
                    border-radius: 25px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    transform: translateY(-100%);
                    background: white;
                    height: fit-content;
                    max-height: 20vh;
                    overflow: auto;
                    box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    padding: 18px 0 5px 0;
                }
            }
        
            .nav-bar {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: fit-content;
                width: fit-content;
                align-items: flex-start;
                position: absolute;
        
                .nav-item {
                    font-weight: 400;
                    font-size: .8rem;
                    margin-bottom: 20px;
                    cursor: pointer;
                    color: white;

                    &:nth-child(1) {
                        margin-top: 60px;
                    }
                }
        
                .user-nav-container {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: 1px solid black;
                    position: absolute;
                    top: 0;
        
                    .avt {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
        
                    .user-nav {
                        position: fixed;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100px;
                        background: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transform: translateX(150px);
        
                        .profile {
                            height: 70px;
                            width: 70px;
                            border-radius: 50%;
                            margin-top: 30px;
                            margin-bottom: 20px;
                            cursor: pointer;
                        }
        
                        .settings-container {
                            height: fit-content;
                            width: fit-content;
                            position: relative;
        
                            .settings-svg {
                                fill: black;
                                height: 25px;
                                width: 25px;
                                cursor: pointer;
                            }
        
                            .settings {
                                position: absolute;
                                height: fit-content;
                                width: 150px;
                                padding: 15px 30px;
                                background: white;
                                top: 0;
                                left: -37.5px;
                                transform: translateX(-100%);
                                box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                                -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
        
                                .reset-password {
                                    color: black;
                                    font-size: .7rem;
                                    font-weight: 500;
                                    cursor: pointer;
                                    display: inline;
                                    width: fit-content;
                                }
                            }
                        }
        
                        .signout {
                            margin-top: 15px;
                            fill: black;
                            height: 25px;
                            width: 25px;
                            margin-bottom: 50px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 576px) and (max-width: 767px) {
    .header {
        width: 100%;
        z-index: 2000;
        max-height: 10vh;
        padding: 30px 0 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;
        background: white;
    
        .reset-password-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 10000000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reset-password {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                z-index: 1;
            }
    
            .reset-password-form {
                z-index: 10;
                height: fit-content;
                width: 300px;
                background: white;
                padding: 30px 20px 30px 20px;
    
                .prompt {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
    
                .reset-password-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .7rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reset-password-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 18px;
                    font-size: .7rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    color: red;
                }
            }
        }
    
        .reauthenticate-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 10000000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reauthenticate {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
            }
    
            .reauthenticate-form {
                z-index: 10;
                height: fit-content;
                width: 300px;
                background: white;
                padding: 30px 20px 30px 20px;
    
                .confirm-access {
                    color: black;
                    font-size: .8rem;
                    font-weight: 600;
                    margin-bottom: 30px;
                }
    
                .prompt {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
    
                .reauthenticate-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .7rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reauthenticate-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 18px;
                    font-size: .7rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    color: red;
                }
            }
        }
    
        .logo {
            font-weight: 900;
            font-style: italic;
            font-size: 1rem;
            cursor: pointer;
            color: black;
        }

        .header-menu {
            margin-left: auto;
            height: 100%;
            width: auto;
            z-index: 1000000;
            fill: black;
        }
    
        .header-else {
            position: fixed;
            z-index: 100000;
            height: 100vh;
            width: 30vw;
            background: black;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px 30px 50px 30px;
            transform: translateX(100%);

            .header-search-container {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                margin-top: 70vh;

                .header-search-input {
                    padding: 10px 50px 10px 20px;
                    outline: none;
                    border-radius: 25px;
                    width: 100%;
                    font-size: .65rem;
                    font-weight: 400;
        
                    &::placeholder {
                        font-size: .65rem;
                        color: gray;
                        font-weight: 300;
                    }
                }
        
                .search-btn {
                    background: none;
                    border: none;
                    height: fit-content;
                    width: fit-content;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
        
                    .search-svg {
                        height: 2vh;
                        width: 2vh;
                    }
                }
        
                .search-history-container {
                    border-radius: 25px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    transform: translateY(-100%);
                    background: white;
                    height: fit-content;
                    max-height: 20vh;
                    overflow: auto;
                    box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    padding: 18px 0 5px 0;
                }
            }
        
            .nav-bar {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: fit-content;
                width: fit-content;
                align-items: flex-start;
                position: absolute;
        
                .nav-item {
                    font-weight: 300;
                    font-size: .8rem;
                    margin-bottom: 15px;
                    cursor: pointer;
                    color: white;

                    &:nth-child(1) {
                        margin-top: 60px;
                    }
                }
        
                .user-nav-container {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: 1px solid black;
                    position: absolute;
                    top: 0;
        
                    .avt {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
        
                    .user-nav {
                        position: fixed;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100px;
                        background: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transform: translateX(150px);
        
                        .profile {
                            height: 70px;
                            width: 70px;
                            border-radius: 50%;
                            margin-top: 30px;
                            margin-bottom: 20px;
                            cursor: pointer;
                        }
        
                        .settings-container {
                            height: fit-content;
                            width: fit-content;
                            position: relative;
        
                            .settings-svg {
                                fill: black;
                                height: 25px;
                                width: 25px;
                                cursor: pointer;
                            }
        
                            .settings {
                                position: absolute;
                                height: fit-content;
                                width: 150px;
                                padding: 15px 30px;
                                background: white;
                                top: 0;
                                left: -37.5px;
                                transform: translateX(-100%);
                                box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                                -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
        
                                .reset-password {
                                    color: black;
                                    font-size: .7rem;
                                    font-weight: 500;
                                    cursor: pointer;
                                    display: inline;
                                    width: fit-content;
                                }
                            }
                        }
        
                        .signout {
                            margin-top: 15px;
                            fill: black;
                            height: 25px;
                            width: 25px;
                            margin-bottom: 50px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 768px) and (max-width: 991px) {
    .header {
        width: 100%;
        z-index: 2000;
        max-height: 10vh;
        padding: 30px 0 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;
        background: white;
    
        .reset-password-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 10000000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reset-password {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                z-index: 1;
            }
    
            .reset-password-form {
                z-index: 10;
                height: fit-content;
                width: 300px;
                background: white;
                padding: 30px 20px 30px 20px;
    
                .prompt {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
    
                .reset-password-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .7rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reset-password-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 18px;
                    font-size: .7rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    color: red;
                }
            }
        }
    
        .reauthenticate-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 10000000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reauthenticate {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
            }
    
            .reauthenticate-form {
                z-index: 10;
                height: fit-content;
                width: 300px;
                background: white;
                padding: 30px 20px 30px 20px;
    
                .confirm-access {
                    color: black;
                    font-size: .8rem;
                    font-weight: 600;
                    margin-bottom: 30px;
                }
    
                .prompt {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
    
                .reauthenticate-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .7rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reauthenticate-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 18px;
                    font-size: .7rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .7rem;
                    font-weight: 500;
                    color: red;
                }
            }
        }
    
        .logo {
            font-weight: 900;
            font-style: italic;
            font-size: 1rem;
            cursor: pointer;
            color: black;
        }

        .header-menu {
            margin-left: auto;
            height: 100%;
            width: auto;
            z-index: 1000000;
            fill: black;
        }
    
        .header-else {
            position: fixed;
            z-index: 100000;
            height: 100vh;
            width: 30vw;
            background: black;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px 30px 50px 30px;
            transform: translateX(100%);

            .header-search-container {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                margin-top: 70vh;

                .header-search-input {
                    padding: 10px 50px 10px 20px;
                    outline: none;
                    border-radius: 25px;
                    width: 100%;
                    font-size: .65rem;
                    font-weight: 400;
        
                    &::placeholder {
                        font-size: .65rem;
                        color: gray;
                        font-weight: 300;
                    }
                }
        
                .search-btn {
                    background: none;
                    border: none;
                    height: fit-content;
                    width: fit-content;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
        
                    .search-svg {
                        height: 2vh;
                        width: 2vh;
                    }
                }
        
                .search-history-container {
                    border-radius: 25px;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    transform: translateY(-100%);
                    background: white;
                    height: fit-content;
                    max-height: 20vh;
                    overflow: auto;
                    box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    padding: 18px 0 5px 0;
                }
            }
        
            .nav-bar {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: fit-content;
                width: fit-content;
                align-items: flex-start;
                position: absolute;
        
                .nav-item {
                    font-weight: 300;
                    font-size: .8rem;
                    margin-bottom: 15px;
                    cursor: pointer;
                    color: white;

                    &:nth-child(1) {
                        margin-top: 60px;
                    }
                }
        
                .user-nav-container {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: 1px solid black;
                    position: absolute;
                    top: 0;
        
                    .avt {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
        
                    .user-nav {
                        position: fixed;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100px;
                        background: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transform: translateX(150px);
        
                        .profile {
                            height: 70px;
                            width: 70px;
                            border-radius: 50%;
                            margin-top: 30px;
                            margin-bottom: 20px;
                            cursor: pointer;
                        }
        
                        .settings-container {
                            height: fit-content;
                            width: fit-content;
                            position: relative;
        
                            .settings-svg {
                                fill: black;
                                height: 25px;
                                width: 25px;
                                cursor: pointer;
                            }
        
                            .settings {
                                position: absolute;
                                height: fit-content;
                                width: 150px;
                                padding: 15px 30px;
                                background: white;
                                top: 0;
                                left: -37.5px;
                                transform: translateX(-100%);
                                box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                                -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
        
                                .reset-password {
                                    color: black;
                                    font-size: .7rem;
                                    font-weight: 500;
                                    cursor: pointer;
                                    display: inline;
                                    width: fit-content;
                                }
                            }
                        }
        
                        .signout {
                            margin-top: 15px;
                            fill: black;
                            height: 25px;
                            width: 25px;
                            margin-bottom: 50px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 992px) and (max-width: 1199px) {
    .header {
        width: 100%;
        z-index: 2000;
        height: fit-content;
        padding: 30px 70px 20px 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;
        background: white;
    
        .reset-password-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 100000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reset-password {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                z-index: 1;
            }
    
            .reset-password-form {
                z-index: 10;
                height: fit-content;
                width: 450px;
                background: white;
                padding: 50px 30px 50px 30px;
    
                .prompt {
                    color: black;
                    font-size: .9rem;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
    
                .reset-password-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .8rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reset-password-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 20px;
                    font-size: .9rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .9rem;
                    font-weight: 600;
                    color: red;
                }
            }
        }
    
        .reauthenticate-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reauthenticate {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                z-index: 1;
            }
    
            .reauthenticate-form {
                z-index: 10;
                height: fit-content;
                width: 450px;
                background: white;
                padding: 50px 30px 50px 30px;
    
                .confirm-access {
                    color: black;
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 40px;
                }
    
                .prompt {
                    color: black;
                    font-size: .9rem;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
    
                .reauthenticate-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .8rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reauthenticate-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 20px;
                    font-size: .9rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .9rem;
                    font-weight: 600;
                    color: red;
                }
            }
        }
    
        .logo {
            font-weight: 900;
            font-style: italic;
            font-size: 1.1rem;
            cursor: pointer;
            color: black;
        }

        .header-menu {
            display: none !important;
        }
    
        .header-else {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            transform: none !important;

            .header-search-container {
                width: fit-content;
                height: fit-content;
                margin-left: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
        
                .header-search-input {
                    border: 1px solid gray;
                    padding: 10px 40px 10px 15px;
                    outline: none;
                    border-radius: 25px;
                    width: 200px;
                    font-size: .7rem;
                    font-weight: 400;
        
                    &::placeholder {
                        font-size: .7rem;
                        color: gray;
                        font-weight: 300;
                    }
                }
        
                .search-btn {
                    background: none;
                    border: none;
                    height: fit-content;
                    width: fit-content;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
        
                    .search-svg {
                        height: 15px;
                        width: 15px;
                    }
                }
        
                .search-history-container {
                    border-radius: 25px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    transform: translateY(100%);
                    background: white;
                    height: fit-content;
                    max-height: 30vh;
                    overflow: auto;
                    box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    padding: 18px 0 5px 0;
                }
            }
        
            .nav-bar {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: fit-content;
                width: fit-content;
                align-items: center;
                margin-left: auto;
        
                .nav-item {
                    font-weight: 600;
                    font-size: .8rem;
                    margin-left: 20px;
                    cursor: pointer;
                    color: black;
                }
        
                .user-nav-container {
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    margin-left: 30px;
                    border: 1px solid black;
                    padding: 2px;
        
                    .avt {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
        
                    .user-nav {
                        position: fixed;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100px;
                        background: black;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transform: translateX(150px);
        
                        .profile {
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                            margin-top: 30px;
                            margin-bottom: 30px;
                            cursor: pointer;
                        }
        
                        .settings-container {
                            height: fit-content;
                            width: fit-content;
                            position: relative;
        
                            .settings-svg {
                                fill: white;
                                height: 25px;
                                width: 25px;
                                cursor: pointer;
                                transition: .7s ease-out;
            
                                &:hover {
                                    transform: rotate(360deg);
                                    transition: .7s ease-out;
                                }
                            }
        
                            .settings {
                                position: absolute;
                                height: fit-content;
                                width: 150px;
                                padding: 20px 20px;
                                background: black;
                                top: 0;
                                left: -37.5px;
                                transform: translateX(-100%);
                                box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                                -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
        
                                .reset-password {
                                    color: white;
                                    font-size: .7rem;
                                    font-weight: 500;
                                    cursor: pointer;
                                    display: inline;
                                    width: fit-content;
                                }
                            }
                        }
        
                        .signout {
                            margin-top: 15px;
                            fill: white;
                            height: 25px;
                            width: 25px;
                            margin-bottom: 50px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .header {
        width: 100%;
        z-index: 2000;
        height: fit-content;
        padding: 30px 70px 20px 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;
        background: white;
    
        .reset-password-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 100000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reset-password {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                z-index: 1;
            }
    
            .reset-password-form {
                z-index: 10;
                height: fit-content;
                width: 450px;
                background: white;
                padding: 50px 30px 50px 30px;
    
                .prompt {
                    color: black;
                    font-size: .9rem;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
    
                .reset-password-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .8rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reset-password-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 20px;
                    font-size: .9rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .9rem;
                    font-weight: 600;
                    color: red;
                }
            }
        }
    
        .reauthenticate-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1000000;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .exit-reauthenticate {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, .8);
                z-index: 1;
            }
    
            .reauthenticate-form {
                z-index: 10;
                height: fit-content;
                width: 450px;
                background: white;
                padding: 50px 30px 50px 30px;
    
                .confirm-access {
                    color: black;
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 40px;
                }
    
                .prompt {
                    color: black;
                    font-size: .9rem;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
    
                .reauthenticate-input {
                    width: 100%;
                    background: white;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                    color: black;
                    font-size: .8rem;
                    font-weight: 400;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
    
                .handle-reauthenticate-btn {
                    background: black;
                    color: white;
                    height: fit-content;
                    width: fit-content;
                    padding: 12px 20px;
                    font-size: .9rem;
                    font-weight: 600;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
    
                .alert-reset {
                    color: black;
                    font-size: .9rem;
                    font-weight: 600;
                    color: red;
                }
            }
        }
    
        .logo {
            font-weight: 900;
            font-style: italic;
            font-size: 1.1rem;
            cursor: pointer;
            color: black;
        }

        .header-menu {
            display: none !important;
        }
    
        .header-else {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            transform: none !important;

            .header-search-container {
                width: fit-content;
                height: fit-content;
                margin-left: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
        
                .header-search-input {
                    border: 1px solid gray;
                    padding: 10px 40px 10px 15px;
                    outline: none;
                    border-radius: 25px;
                    width: 200px;
                    font-size: .7rem;
                    font-weight: 400;
        
                    &::placeholder {
                        font-size: .7rem;
                        color: gray;
                        font-weight: 300;
                    }
                }
        
                .search-btn {
                    background: none;
                    border: none;
                    height: fit-content;
                    width: fit-content;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
        
                    .search-svg {
                        height: 15px;
                        width: 15px;
                    }
                }
        
                .search-history-container {
                    border-radius: 25px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    transform: translateY(100%);
                    background: white;
                    height: fit-content;
                    max-height: 30vh;
                    overflow: auto;
                    box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                    padding: 18px 0 5px 0;
                }
            }
        
            .nav-bar {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: fit-content;
                width: fit-content;
                align-items: center;
                margin-left: auto;
        
                .nav-item {
                    font-weight: 600;
                    font-size: .8rem;
                    margin-left: 20px;
                    cursor: pointer;
                    color: black;
                }
        
                .user-nav-container {
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    margin-left: 30px;
                    border: 1px solid black;
                    padding: 2px;
        
                    .avt {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                        cursor: pointer;
                    }
        
                    .user-nav {
                        position: fixed;
                        right: 0;
                        top: 0;
                        height: 100%;
                        width: 100px;
                        background: black;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transform: translateX(150px);
        
                        .profile {
                            height: 60px;
                            width: 60px;
                            border-radius: 50%;
                            margin-top: 30px;
                            margin-bottom: 30px;
                            cursor: pointer;
                        }
        
                        .settings-container {
                            height: fit-content;
                            width: fit-content;
                            position: relative;
        
                            .settings-svg {
                                fill: white;
                                height: 25px;
                                width: 25px;
                                cursor: pointer;
                                transition: .7s ease-out;
            
                                &:hover {
                                    transform: rotate(360deg);
                                    transition: .7s ease-out;
                                }
                            }
        
                            .settings {
                                position: absolute;
                                height: fit-content;
                                width: 150px;
                                padding: 20px 20px;
                                background: black;
                                top: 0;
                                left: -37.5px;
                                transform: translateX(-100%);
                                box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
                                -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
        
                                .reset-password {
                                    color: white;
                                    font-size: .7rem;
                                    font-weight: 500;
                                    cursor: pointer;
                                    display: inline;
                                    width: fit-content;
                                }
                            }
                        }
        
                        .signout {
                            margin-top: 15px;
                            fill: white;
                            height: 25px;
                            width: 25px;
                            margin-bottom: 50px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}