@media(min-width: 320px) {

    .footer-container {
        width: 100%;
        z-index: 1000;
        height: fit-content;
        padding: 50px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        background: black;
    
        .footer {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            background: black;
            flex-wrap: wrap;
            margin-bottom: 15px;
        
            .col {
                height: fit-content;
                width: fit-content;
                display: flex;
                flex-direction: column; 
                margin: 0 15px 15px 20px;
        
                .title {
                    color: white;
                    font-size: .8rem;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
        
                .element {
                    color: #a4a4a4;
                    font-size: .7rem;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        
            .branding {
                margin-bottom: 30px;
                .footer-logo {
                    color: white;
                    font-size: 1rem;
                    font-weight: 900;
                    font-style: italic;
                    cursor: pointer;
                    margin-bottom: 15px;
                }
            
                .footer-title {
                    color: #a4a4a4;
                    font-size: .8rem;
                    font-weight: 400;
                    line-height: 22px;
                }
        
                .footer-slo {
                    color: white;
                    font-size: .8rem;
                    font-weight: 500;
                }
            }
        
            .explore {
                .explore-title {
        
                }
        
                .explore-link {
        
                }
            }
        
            .visit {
                .visit-title {
        
                }
                .visit-address {
                    
                }
            }
        }
    
        .copyrights {
            font-size: .65rem;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0 20px 0px 20px;
        }
    }
}