.header {
    width: 100%;
    z-index: 1000;
    height: fit-content;
    padding: 50px 250px 20px 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: white;

    .logo {
        font-weight: 900;
        font-style: italic;
        font-size: 1.4rem;
        cursor: pointer;
        color: black;
    }

    .header-search-container {
        width: fit-content;
        height: fit-content;
        margin-left: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        .header-search-input {
            border: 1px solid gray;
            padding: 10px 50px 10px 20px;
            outline: none;
            border-radius: 25px;
            width: 300px;
            font-size: .8rem;
            font-weight: 400;

            &::placeholder {
                font-size: .8rem;
                color: gray;
                font-weight: 300;
            }
        }

        .search-btn {
            background: none;
            border: none;
            height: fit-content;
            width: fit-content;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            .search-svg {
                height: 2vh;
                width: 2vh;
            }
        }

        .search-history-container {
            border-radius: 25px;
            width: 100%;
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            background: white;
            height: fit-content;
            max-height: 30vh;
            overflow: auto;
            box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
            -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 25%);
            padding: 18px 0 5px 0;
        }
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
        width: fit-content;
        align-items: center;
        margin-left: auto;

        .nav-item {
            font-weight: 600;
            font-size: 1.1rem;
            margin-left: 30px;
            cursor: pointer;
            color: black;

            &::after {
                display: block;
                content: '';
                border-bottom: 2px solid black;
                margin-top: 5px;
                transform: scaleX(0);
                transform-origin: left;
                transition: .3s;
            }

            &:hover {
                &::after {
                    transform: scaleX(1);
                    transition: .3s;
                }
            }
        }

        .user-nav-container {
            height: calc(3vh + 4px);
            width: calc(3vh + 4px);
            border-radius: 50%;
            margin-left: 30px;
            border: 1px solid black;
            padding: 2px;

            .avt {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }

            .user-nav {
                position: fixed;
                right: 0;
                top: 0;
                height: 100%;
                width: 150px;
                background: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translateX(150px);

                .profile {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    margin-top: 30px;
                    cursor: pointer;
                }

                .signout {
                    margin-top: auto;
                    fill: white;
                    height: 40px;
                    width: 40px;
                    margin-bottom: 50px;
                    cursor: pointer;
                }
            }
        }
    }
}